<!doctype html>
<html>
	<head>
		<title>eadvisor</title>
		{% load staticfiles %}
		<link href="{% static "home.css" %}" rel="stylesheet" media="all">
	</head>
	<body>
		<div class="topbar">
			<img src="{% static "e-advisor1.2-small.png" %}" alt="eadvisor logo small">
			<a class="return" href="{% url "form" %}">Reupload TDA</a>
		</div>
		<br><br><br>
		<div class="print">
		<table>
		<tr>
		<td class="tabs">
			<ul>
				<li><a href="{% url "tree" %}">Tree</a></li>
				<li><a href="{% url "ge" %}">GE</a></li>
				<li><a href="{% url "unit" %}">Unit Req</a></li>
				<li><a href="{% url "courses" %}">Courses</a></li>
				<li><a href="{% url "save" %}">Save</a></li>
				<li><a href="{% url "prnt" %}">Print</a></li>
				<li><a href="{% url "email" %}">E-mail</a></li>
				<li><a href="{% url "help" %}">Help</a></li>
			</ul>
		</td>
		<td class="info">

Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip _build_root/reportlab/setup.py';exec(compile(getattr(tokenize, 'open', ope n)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --r ecord /tmp/pip-_M9ai4-record/install-record.txt --single-version-externall y-managed --compile failed with error code 1 in /tmp/pip_build_root/report lab
			<p>
				<script type="text/javascript">
				function printPDF() 
				{
				    var w = window.open("printPDF("http://titan-eadvisor.com/static/graph.png");
				    w.print();
				}
				</script>
				<a href="printPDF()">Click here to print</a>
			</p>
		</td>
		</tr></table></div>
	</body>
</html>
